@page
@using Microsoft.AspNetCore.Components
@model LogoutModel
@inject NavigationManager navigationManager
@{
    ViewData["Title"] = "Log out";
    Layout = "../_Layout.cshtml";
}


<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
            <a href="../">Go Back</a>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
            <a href="../">Go Back</a>
            //navigationManager.NavigateTo($"/"); // Fix this
        }
    }
</header>
