@*
    
@using PlanningPoker.Driven_Adapters;
@using PlanningPoker.Persistence;
@using PlanningPoker.Shared;
@page "/Teams/Create"
@page "/Teams/Create{id: int}"
@inject ITest Test
<PageTitle>Teams</PageTitle>

if (Id == null) 
{
    <h3>Create</h3>
}
else 
{
    <h3>Edit</h3>
}

@code{
    [Parameter]
    public int? Id { get; set; }


}

Fix this*@ 