@using PlanningPoker.Driven_Adapters;
@using PlanningPoker.Persistence;
@using PlanningPoker.Shared;
@page "/"
@inject IIndexAdapter IndexAdapter
@inject NavigationManager navigationManager
<PageTitle>Planning Poker</PageTitle>

<h1>Welcome</h1>
<h2>How do I use the page?</h2>
<h3>Register: </h3>
<p>If you don't have an account you have to register first. There are 3 different user roles.</p>
<h3>Admin:</h3>
<p>An Admin can create and manage teams, so if your team doesn't exist contact an Admin.</p>
<h3>TeamLeader:</h3>
<p>A Team Leader can create and manage User Storys and start a game of planning poker for your team based on a certain User Story.</p>
<h3>User:</h3>
<p>As a user you can play a game initialized by your Team Leader. Go to the Games tab to look for avaliable games. In my profile you can edit your information or change to a different team.</p>

@{
        
}