@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject AuthenticationStateProvider AuthenticationStateProvider
@* @inject SignInManager<IdentityUser> SignInManager Kan inte använda signinmanager i blazor server*@
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PlanningPoker</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> 
@code{
    bool loggedIn;
    string role;
    protected override async Task OnInitializedAsync()  
    {  
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();  
        var user = authState.User;
        if (user.Identity.IsAuthenticated)  
        {

            loggedIn = true;

            if (user.IsInRole("Admin"))
            {
                role = "Admin";
            }
            else if (user.IsInRole("TeamLeader"))
            {
                role = "TeamLeader";
            }
            else
            {
                role = "User";
            }
            }  
            else  
            {

                loggedIn = false;
            }   
    }  
}  
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Planning Poker
            </NavLink>
            @{
            if (role == "Admin")
            {
                <NavLink class="nav-link" href="/Teams/Index" Match="NavLinkMatch.All">
                    <span class="oi oi-menu" aria-hidden="true"></span> Teams
                </NavLink>
            }
            if (role == "TeamLeader" || role == "Admin")
            {
                <NavLink class="nav-link" href="/UserStorys/Index" Match="NavLinkMatch.All">
                    <span class="oi oi-menu" aria-hidden="true"></span> User Storys
                </NavLink>
            }           
            
            if (loggedIn == false)
            {
                <NavLink style="" class="nav-link" href="/Account/Register" Match="NavLinkMatch.All">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Register
                </NavLink>
                <NavLink style="" class="nav-link" href="/Account/Login" Match="NavLinkMatch.All">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Log in    
                </NavLink>
            }
            else
            {
                <NavLink style="" class="nav-link" href="/Account/Profile" Match="NavLinkMatch.All">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> My Profile    
                </NavLink>
                <NavLink style="" class="nav-link" href="/Account/Logout" Match="NavLinkMatch.All">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Log Out    
                </NavLink>
            }                
            }            
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
